<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'logo.png' %>
  <title>BoulderBikeTour</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <div class="container">
    <div class="col-lg-4">
      <div class="logo">
        <a href="/site/home"><%= image_tag("logo1.png", :alt => "logo", :class => "logo-main") %></a>
      </div>
    </div>

    <div class="col-lg-8">
      <nav class="navbar navbar-default nb">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/site/home">Home</a></li>
              <li><a href="/photos">Photos</a></li>
              <li><a href="/location">Locations</a></li>
              <li><a href="/riders">Riders</a></li>
              <li><a href="/slogans">Slogan contast</a></li>
              <li><a href="/site/contacts">Contacts</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  <div class="container jumbotron">
    <%= yield %>
  </div>
</body>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

</html>
